<div class="jumbotron" style="text-align: center">
  <br><br><br>
  <h1 class="display-4">Saved Articles</h1>
  <p class="lead">Mongo Scraper</p>
  <br><br><br>
</div>

<div id="notes"></div>
<div id="savedList"></div>
